* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .cover {
    background: url("/images/cover2.png") no-repeat;
    height: 217px;
  }
  .profile {
    background-color: rgba(26, 26, 26, 1);
  }
  .photo {
  
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: -62px auto 0px auto;
    border: 2px solid #A59AE4;
}
  
  .photo img {


    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  .profile-info{
    display: flex;
    gap:22px;
    flex-direction: column;
}

  .info-details {
    background-color: rgba(37, 37, 37, 1);
    border-radius: 16px;
    box-shadow: 0 10px 30px 0 rgba(23, 23, 23, 1);
    display: flex;
margin-top: -79px;
    justify-content: center;
    align-items: center;
    gap: 19px;
    flex-direction: column;
    height: 295px;
  }

  .profile-info-title {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    line-height: 32.87px;
  }



  .profile-bio {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

.meeting-box{
    display: flex;
    justify-content: space-between;
}


.meet{
    background-color: rgba(100, 89, 165, 1);
    height: 45px;
    width: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 87px;
    border: none;
    border-radius: 12px;
}

.phone{
  background-color: rgba(255, 247, 240, 1);
  height: 45px;
  width: 45px;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.accordion-item{
    padding: 24px;
}
.accordion-item,.accordion-header,.accordion-button{
    background-color: rgba(37, 37, 37, 1);
    border-radius: 16px;
   
    
}
.accordion-header-info{
    display: flex;
    gap: 8px;
}
.icon-contact{
    background-color: rgba(255, 247, 240, 0.1);
    height: 51px;
    width: 51px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-contact{
    display: flex;
    flex-direction: column;
    gap:4px;

}

.info-contact h5{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.info-contact span{
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
.accordion-button:not(.collapsed){
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
}
.accordion-body{
color: #fff;
font-size: 16px;
font-weight: 400;

}



.accordion-button:not(.collapsed)::after,.accordion-button::after {
    background-image: url('/images/arrow.svg');
    transform: none;
}
